{% extends 'base.html' %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h3 class="text-center">{{ page_title }}</h3>
    <div class="divider"></div>
    <div class="clear20"></div>

    {# TODO: контакты сделать ссылками #}
    <p>skype: <b><a href="skype:birukov.alex">birukov.alex</a></b></p>
    <p>telegram: <b><a href="https://t.me/birukov_alex">@birukov_alex</a></b></p>
    <p>phone: <b><a href="tel:+79045904350">+7(904)590-43-50</a></b></p>

{% endblock content %}