{% extends 'base.html' %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h3 class="text-center">{{ page_title }}</h3>
    <div class="clear10"></div>
    <form action="{% url 'gallery:load' %}" method="post" id="load_form" class="col-8 col-mx-auto"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="clear20"></div>
        <button class="btn btn-primary">Сохранить</button>
    </form>

{% endblock content %}

