{% extends 'base.html' %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h1 class="text-center">{{ page_title }}</h1>

    <blockquote class="bg-gray">
        <p>В качестве тестового задания предлагаем реализовать следующий проект:</p>
        <ul>
            <li>Веб сайт из 2х страниц. Форма, на которой есть возможность выбрать файл и написать комментарий к нему.
                Выбирать и загружать можно только картинки (jpg и т.д.)
            </li>
            <li>Страница, на которой отображаются уже загруженные картинки и комментарии в виде мозаики (плиток,
                превью), при клике открывается полноразмерная картинка.
            </li>
            <li>Хотелось бы, что бы это было реализовано на django или flask</li>
            <li>Проект выложить на приватный репо gitbub или bitbucket (аккаунт в обеих системах lexapi)</li>
        </ul>
    </blockquote>

    <div class="clear20"></div>
    <div class="divider text-center" data-content="REQUIREMETS"></div>
    <ul>
        <li><b>Python</b>
            <ul>
                <li>
                    <a href="https://www.djangoproject.com/" target="_blank">Django==2.0.3</a></li>
                <li>
                    <a href="https://github.com/matthewwithanm/django-imagekit"
                       target="_blank">django-imagekit==4.0.2</a>
                </li>
            </ul>
        </li>
        <li><b>Java Script</b>
            <ul>
                <li>Jquery</li>
                <li>
                    <a href="https://appelsiini.net/projects/lazyload/" target="_blank">Lazyload</a>
                </li>
                <li>
                    <a href="http://fancyapps.com/fancybox/3/" target="_blank">Fancybox</a>
                </li>
            </ul>
        </li>
        <li><b>CSS</b>
            <ul>
                <li>
                    <a href="https://picturepan2.github.io/spectre/" target="_blank">Spectre</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock content %}