{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'gallery/css/jquery.fancybox.min.css' %}"/>
{% endblock styles %}
{% block scripts %}
    <script src="{% static 'gallery/js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'gallery/js/lazyload.min.js' %}"></script>
    <script src="{% static 'gallery/js/jquery.fancybox.min.js' %}"></script>
    <script>
        lazyload();
    </script>
{% endblock %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}

    <h3 class="text-center">{{ page_title }}</h3>

    <div id="gal_container">
        {% for image in image_list %}
            <div class="card">
                <a href="{{ image.img.url }}"
                   class="card-image"
                   data-fancybox="gal"
                   data-caption="{{ image.description }}">
                    <img src="" class="img-responsive lazyload" data-src="{{ image.img_small.url }}">
                </a>
                {% if image.description %}
                    <div class="card-body">{{ image.description }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock content %}