// Миксины

@mixin d_flex($x, $y)
{
    display:         flex;
    display: -webkit-flex;

            justify-content: $x;
    -webkit-justify-content: $x;
            align-items: $y;
    -webkit-align-items: $y;
}

@mixin f_col
{
            flex-direction: column;

    -webkit-flex-direction: column;
}

@mixin f_rw
{
            flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

@mixin anim($t)
{
    -webkit-transition: all $t ease;
       -moz-transition: all $t ease;
        -ms-transition: all $t ease;
         -o-transition: all $t ease;
            transition: all $t ease;
}

@mixin gray($z)
{
       -moz-filter: grayscale($z);
         -o-filter: grayscale($z);
    -webkit-filter: grayscale($z);
            filter: grayscale($z);
}

@mixin sepia($z)
{
       -moz-filter: sepia($z);
         -o-filter: sepia($z);
    -webkit-filter: sepia($z);
            filter: sepia($z);
}