//Общие стили для модальных окон
.arcticmodal-close {
  position: relative;
  top: -30px;
  right: 0;

  float: right;

  width: 20px;
  height: 20px;

  cursor: pointer;

  @include anim(.5s);
}

.box-modal_close:hover {
  transform: rotate(360deg);
}

.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  z-index: 1000001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.arcticmodal-container {
  overflow: auto;

  margin: 0;
  padding: 0;

  border-collapse: collapse;

  border: 0;
}

*:first-child + html .arcticmodal-container {
  height: 100%;
}

.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

.arcticmodal-container_i2 {
  margin: 0;

  vertical-align: middle;

  border: 0;
}

.modal_content {
  padding: 1rem;
  background: #fff;
}
