.arcticmodal-close {
  position: relative;
  top: -30px;
  right: 0;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.box-modal_close:hover {
  transform: rotate(360deg); }

.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  z-index: 1000001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0; }

*:first-child + html .arcticmodal-container {
  height: 100%; }

.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto; }

.arcticmodal-container_i2 {
  margin: 0;
  vertical-align: middle;
  border: 0; }

.modal_content {
  padding: 1rem;
  background: #fff; }

.clear10 {
  clear: both;
  height: 10px; }

.clear20 {
  clear: both;
  height: 20px; }

.main_section {
  max-width: 800px;
  margin: auto; }

.navbar {
  max-width: 900px;
  margin: 0 auto 20px; }

#load_form p {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-direction: column;
  -webkit-flex-direction: column; }

#gal_container {
  width: 100%;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start; }
  #gal_container .card {
    width: 30%;
    margin: .5rem 1%;
    max-width: 300px; }

.card-image {
  background: #fff; }
  .card-image img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .card-image img:hover {
      opacity: .7; }

/*# sourceMappingURL=style.css.map */
