@import "mixins";
@import "modal";

.clear10 {
  clear: both;

  height: 10px;
}

.clear20 {
  clear: both;

  height: 20px;
}

.main_section {
  max-width: 800px;
  margin: auto;
}

.navbar {
  max-width: 900px;
  margin: 0 auto 20px;
}

#load_form {
  p {
    width: 100%;
    @include d_flex(flex-start, flex-start);
    @include f_col;
  }
}

#gal_container {
  width: 100%;
  @include f_rw;
  @include d_flex(center, flex-start);
  .card {
    width: 30%;
    margin: .5rem 1%;
    max-width: 300px;
  }
}

.card-image {
  background: #fff;
  img {
    @include anim(.3s);
    &:hover {
      opacity: .7;
    }
  }
}