{% load staticfiles %}
{% load compress %}
<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block meta %}
        {% for meta_tag in meta_tags %}
            <meta {{ meta_tag.name|safe }} content="{{ meta_tag.content }}">
        {% endfor %}
    {% endblock %}
    <title>{% block title %}Test work{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}">
        {% block styles %}{# Дополнительные стили, подключаемые на страницах #}{% endblock %}
    {% endcompress %}
</head>
<body>
{% include 'header.html' %}
<section class="main_section">
    {% block content %}{# Основной контент сайта #}{% endblock %}
</section>
{% compress js %}
    {% block scripts %}{# Дополнительные скрипты, подключаемые на страницах #}{% endblock %}
{% endcompress %}
{% for item in codes %}
    {% autoescape off %}
        {{ item.code }}
    {% endautoescape %}
{% endfor %}
</body>
</html>