<header class="bg-secondary">
    <div class="navbar">
        <section class="navbar-section">
            <a href="{% url 'gallery:main' %}" class="btn btn-link">Тестовое задание</a>
            <a href="{% url 'gallery:contacts' %}" class="btn btn-link">Контакты</a>
        </section>
        <section class="navbar-section">
            <a href="{% url 'gallery:load' %}" class="btn btn-link"><span class="text-error">Форма загрузки изображений</span></a>
            <a href="{% url 'gallery:gallery' %}" class="btn btn-link"><span class="text-error">Галерея изображений</span></a>
        </section>
    </div>
</header>